.content{
    height: 100vh;
    background-image: url('https://images.freecreatives.com/wp-content/uploads/2015/06/best-car-wallpapers.jpg');
    background-size: 1300px;
    margin-left: 20vw;
    .page-title{
        font-size: xxx-large;
    font-weight: 100;
    height: 15vh;
    color: orangered
    }
    .page-content{
        // margin: 0 auto;
        color: black;
        background-color: white;
        // padding-bottom: 10px;
        // border: 1px solid grey;        
        .title{
            text-align: center;
            height: 40px;
            font-size: larger;
            font-weight: 600;
            
            margin: 0 auto;
                // border: 1px solid grey;
                span{
                    border: 1px solid grey;
                }
        }
        .detail-order{
            height: 40px;
            margin: 0 auto;
            div{
                border: 1px solid grey;
                .edit{
                    margin-right: 5px;
                }
            }

            
        }
    }
}
.detail-description{
    text-align: left;
    padding: 10px 5px;
}