.content{
    background-image: url('https://images.freecreatives.com/wp-content/uploads/2015/06/best-car-wallpapers.jpg');
    margin-left: 20vw;
    .page-title{
        font-size: xx-large;
        height:20vh;
        color:indianred;
        font-weight: 700;
        text-align: center;
        align-items: center;
        
    }
    .editarea{
        height: 80vh;
        .page-content{
            color:black;
            background-color: bisque;
            border: 1px solid grey;
            margin: 0 10vh;
            padding: 5vh 0;
        }
    }
}
.textarea{
    margin-left: 20px;
}
.row{
    margin-top: 10px
}